<div id="questions_div">
  <p>
    To cast a vote, you will be led through the following steps.
    <br />
    At the end of the process you will be asked to login. At this point your vote is already encrypted so there's no possibility of anyone seeiing your vote.
  <p>

  <ol>
    <li>
      <font size="5"><b>Read</b> these instructions carefully.</font>
    </li> <br />
    <li>
      <font size="5"><b>Select</b> your vote.</font>
      <br />
      <span style="font-size: 14pt;">You can easily navigate forwards and backwards.</span>
    </li>

    <br />

    <li>
      <font size="5"><b>Review</b> your choices.</font>
      <br />
      <span style="font-size: 14pt;">Your choices are encrypted safely inside your browser to keep your vote secret.</span>
    </li>

    <br />

    <li>
      <font size="5"><b>Verify</b> the encryption (optional).</font>
      <br />
      <span style="font-size: 14pt;">To ensure that your vote is correctly encrypted, you can have the encryption verified. You can repeat this process as many times as you want, until you are convinced that this vote system functions correctly.</span>
    </li>

    <br />

    <li>
      <font size="5"><b>Submit</b> your encrypted choices.</font>
      <br />
      <span style="font-size: 14pt;">You will be asked to log in to submit your encrypted choices and you get a <i>verification code</i>. It is important that you save this code to later check whether your vote has been counted.</span>
    </li>
</ol>
    <br />

 
<font size="5"><b>Check </b> your verification code.</font>
<br />
<span style="font-size: 14pt;">At the end of the election, a list of verification codes that have been counted are published. If you want to confirm whether your vote has been correctly counted, you can look up your verification code in this list.</span>
  <br /><br />

  <div align="center">
    <button onclick="BOOTH.show_question(0);">Start Voting</button>
  </div>
</div>
