
<img src="Media/1_flow_instr.png" width="75%"/>

<div id="questions_div">
  <p>
	Dear voter, <br />
    To cast a vote, you will be led through the following steps.
    <br />
    The first 4 steps (progress-image: the light gray blocks) are HTML-pages within your browser. This means there's no connection with the Helios-server and so no information can be passed through:
  <p>

  <ol>
    <li>
      <font size="5">Read these <b>instructions</b> carefully.</font>
    </li> <br />
    <li>
      <font size="5"><b>Select</b> your vote.</font>
      <br />
      <span style="font-size: 14pt;">You can easily navigate forwards and backwards.</span>
    </li>

    <br />

    <li>
      <font size="5">Check the <b>overview</b> of your choices.</font>
      <br />
      <span style="font-size: 14pt;">Your choices are encrypted (=coded) safely inside your browser to keep your vote secret. </span>
    </li>

    <br />

    <li>
      <font size="5"><b>Verify</b> the encryption (optional).</font>
      <br />
      <span style="font-size: 14pt;">To ensure that your vote is correctly encrypted, you can have the encryption (the encryption is a coded version of your vote) verified. You can repeat this process as many times as you want, until you are convinced that this encryption system functions correctly. </span>
    </li>
</ol>

	After the encryption and the optional verification you will need to log in to submit your vote (progress-image: dark blocks). A connection with the Helios-server will be made from here on but since you vote is encrypted it will remain a secret. 
    <br />
  <ol start="5">
    <li>
      <font size="5"><b>Submit</b> your encrypted choices.</font>
      <br />
      <span style="font-size: 14pt;">You will be asked to log in to submit your encrypted choices and you will also recieve a <i>verification code</i>. It is important that you save this code to later check whether your vote has been counted. When your voted is correctly submitted you will see a confirmation and you will also get a confirmation e-mail. </span>
    </li>
</ol>
    <br />

 
<font size="5"><b>Check </b> your verification code.</font>
<br />
<span style="font-size: 14pt;">When your vote is submitted it is added to a list of votes that have been recieved. If you want to confirm whether your vote has been correctly counted, you can look up your verification code in this list.</span>
  <br /><br />

  <div align="center">
    <button onclick="BOOTH.show_question(0);">Start Voting</button>
  </div>
</div>
