<img src="Media/1_flowNL_instr.png" width="75%"/>
<div id="questions_div">
  <p>
	Beste kiezer, <br />
    Om succesvol je stem uit te brengen moeten onderstaande stappen doorlopen worden.
    <br />
    De eerste 4 stappen (figuur: de licht-grijze blokken) zijn pagina's lokaal in je browser. Dit wil zeggen dat er geen verbinding is met de server en er dus ook geen (geheime) informatie kan doorgespeeld worden:
  <p>

  <ol>
    <li>
      <font size="5">Lees deze <b>instructies</b> aandachtig.</font>
    </li> <br />
    <li>
      <font size="5"><b>Kies</b> je stem.</font>
      <br />
      <span style="font-size: 14pt;">Je kan eenvoudig terug en verder navigeren.</span>
    </li>

    <br />

    <li>
      <font size="5">Kijk je keuzes na in het <b>overzicht</b>.</font>
      <br />
      <span style="font-size: 14pt;"> Je keuzes worden veilig geëncrypteerd binnen je browser om ervoor te zorgen dat je stem geheim blijft.</span>
    </li>

    <br />

    <li>
      <font size="5"><b>Verifieer</b> de enryptie (optioneel).</font>
      <br />
      <span style="font-size: 14pt;">Om er zeker van te zijn dat je stem juist is geëncrypteerd kan je ervoor kiezen om deze te verifiëren. Je kan dit proces zo vaak doorlopen als je wilt, tot je er van overtuigd bent dat het stemsysteem correct werkt. </span>
    </li>
</ol>

	Na de encryptie en de optionele verificatie zal je moeten inloggen om je stem te kunnen indienen (figuur: donkere blokken). Vanaf hier zal dus verbindingen gemaakt worden met de Helios-server. Je stem is echter al geëncrypteerd en blijft dus geheim. 
    <br />
<ol start="5">
    <li>
      <font size="5"><b>Dien</b> je geëncrypteerde keuzes in.</font>
      <br />
      <span style="font-size: 14pt;">Je zal gevraagd worden om in te loggen en je krijgt een <i>verificatie code</i>. Het is belangrijk dat je deze code bewaard zodat je later kan nakijken of je stem daadwerkelijk is meegeteld. Wanneer je stem correct is ingediend zal je een confirmatie te zien krijgen.</span>
    </li>
</ol>
    <br />

 
<font size="5"><b>Check </b> je verificatie code.</font>
<br />
<span style="font-size: 14pt;">Op het einde van de stemming wordt een lijst met verificatie codes die geteld zijn gepubliceerd. Als je er zeker van wilt zijn dat je stem is meegeteld kan je jouw verificatie code opzoeken in de lijst.</span>
  <br /><br />

  <div align="center">
    <button onclick="BOOTH.show_question(0);">naar de stemming</button>
  </div>
</div>
