{% extends TEMPLATE_BASE %}
{% load i18n %}

{% block title %}{{election.name}}{% trans "Not Yet Started" %}{% endblock %}
 
{% block content %}
<p class="text-center">
<img src="/static/helios/5_flowNL_submit.png" width="40%" alt="Can't load the progress tracker"/>
</p>
  <div class="row">
    <div class="large-12 columns">
      <h2>
        {{election.name}}&mdash;{% trans "Not Yet Started" %} <small>[<a href="{% url helios.views.one_election_view election.uuid %}">{% trans "Back" %}</a>]</small>
      </h2>

      <div data-alert class="alert-box info">
        {% trans "This election is not yet open. You probably got here from the Ballot Preview." %}
      </div>
    </div>
  </div>
{% endblock %}
