{% extends TEMPLATE_BASE %}
{% load i18n %}

{% block title %}{% trans "Recent Votes" %}{% endblock %}

{% block content %}
  <div class="row">
    <div class="large-12 columns">
      <h2>
        {% trans "Recent Votes " %}<small>[<a href="/">{% trans "Back" %}</a>]</small>
      </h2>

      <ul>
        {% for election in elections %}
          <li><a href="{% url helios.views.one_election_view election.uuid %}">{{election.name}}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
